box {
  text-align: center;
}

#main, #main > tbody > tr > td {
  border: 1px solid;
  padding: 5px;
}



#info-section {
  color: antiquewhite
}

main {
    text-align: center;
    color: white;
}

#main {
  margin: auto;
}

#back_to_lobby {
  color: white;
  background: transparent;
  margin-top: 20px;
  margin-left: 43%
  
}

#info-half {
  width: 20%;
}

#game {
  margin-left: 40%;
}

#game > table > tbody > tr > td > button {
  width: 50px;
  height: 50px;
  font-size: 14pt;
  color: #0e8538;
  background: transparent;
}

