box {
  text-align: center;
}

table, td {
  border: 1px solid;
  padding: 5px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.navbar {
  text-align: right;
}

a {
  padding: 5px;
}


html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background: #0a0c37;
}


